<div class='issue' id='issue-<%= issue.id %>'>
  <h4>
    <%= link_to issue.title, issue.url %>
  </h4>
  <article class="markdown-body hidden-sm hidden-xs">
    <%== parse_markdown(issue.body) %>
  </article>
</div>
