<div class='issue' id='issue-<%= issue.id %>'>
  <h3>
    <%= link_to issue.title, issue.url %>
  </h3>
  <article class="markdown-body hidden-sm hidden-xs">
    <%== parse_markdown(issue.body) %>
  </article>
  <div><%= pluralize(issue.comments, 'reply') %></div>
</div>
