<div class='row'>
  <div class='col-md-8'>
    <%= render @projects %>
  </div>

  <div class='col-md-4'>
    <ul>
      <% @languages.each do |language| %>
      <li>
        <% if language == params[:language] %>
          <%= language %>
        <% else %>
          <%= link_to language, root_path(language: language) %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
