<div class='row'>
  <div class='col-md-8'>
    <%= render @projects %>
    <%= will_paginate @projects, renderer: BootstrapPagination::Rails, page_links: false %>
  </div>

  <div class='col-md-4 hidden-sm hidden-xs'>
    <table class='table'>
      <% @languages.each do |language| %>
      <tr>
        <td>
        <% if language == params[:language] %>
          <%= language %>
        <% else %>
          <%= link_to language, root_path(language: language) %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </ul>
  </div>
</div>
