<div class='row'>
  <div class='col-md-8'>
    <h2>Projects</h2>
  </div>
  <div class='col-md-4'>
    <%= link_to 'Add a Project', new_project_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <ul>
      <%= render @projects %>
    </ul>
  </div>

  <div class='col-md-4'>
    <ul>
      <% @languages.each do |language| %>
      <li>
        <% if language == params[:language] %>
          <%= language %>
        <% else %>
          <%= link_to language, root_path(language: language) %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
