<h2>
  New project...
</h2>

<%= form_for @project, url: {action:'create'} do |f| %>
  <%= f.text_field :github_url, :value => '', :placeholder => 'GitHub url' %>
  <%= f.submit 'Create' %>
<% end %>
