.project {
  clear: both;
}

.project > .project-title {
  font-size: 26px;
}

.project a {
  margin-right: 5px;
}

.project-title small {
  font-size: 65%;
}

.forkme {
  position: absolute;
  display: block;
  top: 0;
  z-index: 1031;
  right: 0;
}

.forkme img {
  border: 0;
}

.navbar-right {
  margin-right: 61px !important;
}
